.header {
  padding-top: 30px;
  min-height: 450px;  
  margin: 0 auto;
  background-color: rgb(24,28,39);
  background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/background_mobile.png);
  background-position: center bottom -222px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &__title-h2 {
      text-align: center;
      line-height: 3;  
  }
  &__title-h3 {
      @include font ($main-font, 30px, #ffffff);
      @include text-style (1.33, uppercase, 700);
      display: block;
      width: 230px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;  
  }
  &__title-text {
    @include font ($main-font, 14px, rgba( 255, 255, 255, 0.541 ));
      display: block;
      width: 165px;
      margin: 0 auto;
      line-height: 1.429;
      text-align: center; 
  }
}
@media (min-width: 320px) and (min-resolution: 192dpi) {
    .header {
    background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/bg_mobile@2x.png);
}
}
.header__logotype {
    margin: 0 auto;
}
.header__link-logotype {
    display: block;
    margin-bottom: 24px;
    animation-name: flipInX;
    animation-duration: 2s;
}
.title-white {
    @include font ($main-font, 20px, #ffffff);
    font-weight: 700;
}
@media (min-width:768px) {
    .header {
        padding-top: 50px;
        min-height: 600px;
        background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/background_tablet.png);
        background-position: center bottom -60px;
        &__title-h2 {
            margin-bottom: 5px;
        }
        &__title-h3 {
            font-size: 46px;
            margin-bottom: 12px;
            width: 540px;
        }
        &__title-text {
            width: 290px;
        }
        &__link-logotype {
            margin-bottom: 30px;
        }
    }
    @media (min-resolution: 192dpi) {
        .header {
        background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/bg_tablet@2x.png);
    }
    }
    .title-white {
        font-size: 36px;
        line-height: 1.67;
    }
}
@media (min-width:1200px) {
    .header {
        background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/background.png);
    }
    @media (min-resolution: 192dpi) {
        .header {
        background-image: linear-gradient(rgba( 14, 31, 52, 0.29 ),rgba( 14, 31, 52, 0.29 )), url(../images/bg_des@2x.png);
    }
    }
}  

  
