.work__title {
    @include font ($main-font, 20px, #1b2436);
    @include text-style (1.7, uppercase, 800);
    margin: 0 auto;
    padding-top: 26px;
    text-align: center;
    margin-bottom: 12px;
}
.work__text {
    @include font ($main-font, 16px, #1b2436);
    font-weight: 800;
    line-height: 1.563;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.work__button {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: rgb(225, 107, 29);
    box-shadow: 0px 8px 43px 0px rgba(225, 107, 29, 0.59);
    width: 262px;
    height: 50px;
    @include font ($main-font, 12px, #ffffff);
    @include text-style (4, uppercase, 700);
}
.work {
    padding-bottom: 76px;
}
@media (max-width: 767px)  {
    .work__container {
        width: 320px;
        margin: 0 auto;
    }
    .work__title {
        width: 220px;
    }
    .work__text {
        width: 250px;
    }
}
@media (min-width: 768px) {
    .work__title {
        padding-top: 44px;
        font-size: 36px;
        line-height: 0.944;
        margin-bottom: 24px;
    }
    .work__text {
        margin-bottom: 36px;
    }
    .work {
        padding-bottom: 86px;
    }
}
@media (min-width: 1200px) {
.work__title {
    padding-top: 56px;
}
.work {
    padding-bottom: 96px;
}
}


  